nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="/")
        img(width="30" height="30" src="/images/Logo.png" alt="")
        a(class="btn btn-info btn-video me-3" href="/") Video list
        a(class="btn btn-primary btn-video me-3" href="/videos/upload") Add video
